#down {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
    border: none;
    border-radius: 2vh;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2vh;
    font-size: large;
}
#Online {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);
    background-color: blue;
    border: none;
    border-radius: 2vh;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2vh;
    font-size: large;
}
#menu {
    background-color: gray;
    border-radius: 2vh;
    width: 75%;
    height: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    box-shadow: 1vh 1vh 3vh grey;

}
#imp {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0.5vh 0.5vh 0.3vh red;
}
#okay {
    background-color: green;
    color: white;
    border: white solid 0.1vh;
    border-radius: 0.3vh;
    width: 33%;
    padding: 3vh;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10%;
    bottom: 1vh;
}
#stop {
    background-color: red;
    color: white;
    border: white solid 0.1vh;
    border-radius: 0.3vh;
    width: 33%;
    padding: 3vh;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10%;
    bottom: 1vh;
}